{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input value={{data.title}} name="title" class="form-control">
        </div>
        <div class="mb-3">
            <input value={{data.body}} name="body" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder={{data.date}} value={{data.date}} name="date" class="form-control" type="date">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>

    </form>
</section>
{{>footer}}