{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="name" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="age" name="age" class="form-control">
        </div>

        <select name="status" id="status" class="mb-3">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>

    </form>
</section>
{{>footer}}