{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="name" name="name" class="form-control" value="{{user.name}}">
        </div>
        <div class="mb-3">
            <input placeholder="age" name="age" class="form-control" value="{{user.age}}">
        </div>

        <select name="status" id="status" class="mb-3" value="{{user.status}}">
            {{#if isActive}}
            <option value="Active" selected>Active</option>
            <option value="Inactive">Inactive</option>
            {{else}}
            <option value="Active">Active</option>
            <option value="Inactive" selected>Inactive</option>
            {{/if}}
        </select>
        <div class="mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>

    </form>
</section>
{{>footer}}